.skill-bar {
    position: relative;

    strong {
        color: $greyDark;
        display: block;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 5px;

        span {
            // color: $success;
            display: inline-block;
            font-weight: 600;
            width: 35px;
        }
    }
}

.progress {
    background-color: darken($white, 10);
    // border: 1px solid $success;
    border-radius: 0;
    box-shadow: none;
    height: 6px;
    margin-bottom: 30px;
    overflow: visible;
}

.progress-bar {
    box-shadow: none;
    position: relative;

    &:after {
        background: $grey;
        border-radius: 50px;
        content: "";
        position: absolute;
        right: 0;
        top: 0px;
        height: 15px;
        margin: -5px -3px 0 0;
        width: 15px;
    }
}

.progress-bar-primary {
    background-color: $primary;

    &:after {
        background: $primary;
    }
}

.progress-bar-success {
    background-color: $success;

    &:after {
        background: $success;
    }
}

.progress-bar-warning {
    background-color: $success;

    &:after {
        background: $success;
    }
}