.skills {
    background-image: url(../images/bg-1.png);
    background-size: cover;
    background-attachment: fixed;

    .panel {
        [class*="6"] {
            .skill-bar {
                // padding-right: 20px;
            }

            &+[class*="6"] {
                .skill-bar {
                    // padding-left: 20px;
                    // padding-right: 0;
                }

            }
        }
    }
}