html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Dosis', sans-serif;
}

p {
    margin: 0 0 15px;
}

.container {
    position: relative;
}

a {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
}

.cta {
    color: $primary;

    &:hover,
    &:focus {
        color: darken($primary, 10);
        text-decoration: none;
    }
}

.section-title {
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;

    h1,
    h2,
    h3 {
        margin: 10px 0;

        &:after {
            // background: $warning;
            background: $success;
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 40px;
        }
    }
}

section {
    padding: 50px 0;
}

.panel {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    &:hover {
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    .panel-body {
        padding: 20px;

        h3 {
            font-size: 20px;
            margin: 5px 0 20px;
        }
    }
}

.clearfix {

    &:before,
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}