@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Dosis:300,400,500,600,700|Raleway:300,400,500,600,700,900&display=swap');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Dosis', sans-serif;

$white: #ffffff;
$grey: #B1B1B1;
$greyDark: #666666;
// $yellow: #ffc516;


$warning: #fdaf1a;
$primary: #2196f3;
$success: #38de8a;