/*
Author:     Muhammad Khawar
Year:       2021
URL:        https://khawarafzal.github.io/
Version:    v1.0
Copyright 2021, khawarafzal.
Free to use and abuse under the MIT license.
*/


@import "compass";

@import "variable";
@import "typography";
@import "header";
@import "navbar";
@import "button";
@import "progressbar";
@import "timeline";
@import "about";
@import "skills";
@import "history";
@import "projects";
@import "education";
@import "testimonial";
@import "footer";
@import "responsive";