/*
Author:     Jawad Bhatti
Year:       2019
Name:       OnFusion
URL:        https://onfusion.github.io/
Version:    v1.0
Copyright 2019, Onfusion.
Free to use and abuse under the MIT license.
*/


@import "compass";

@import "variable";
@import "typography";
@import "header";
@import "navbar";
@import "button";
@import "progressbar";
@import "timeline";
@import "about";
@import "skills";
@import "history";
@import "projects";
@import "education";
@import "testimonial";
@import "footer";

@import "responsive";